<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="scss/custom.css">

    <!-- script for mtn -->
    <script src="https://widget.northeurope.cloudapp.azure.com:9443/v0.1.0/mobile-money-widget-mtn.js"></script>

</head>
<body>
    <h1>Hello Word</h1>

    <!-- div for capture code qr  -->
    <div class="mobile-money-qr-payment"
        data-api-user-id="b12d7b22-3057-4c8e-ad50-63904171d18c"
        data-amount="10"
        data-currency="EUR"
        data-external-id="Receipt-2112">
    </div>
    
<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>